<h1>New Artist</h1>

<%= render 'form' %>

<%= form_tag("/artists", method: "post") do %>
  <%= text_field_tag(:name) %>
  <%= text_field_tag(:surname) %>
  <%= text_field_tag(:description) %>
  <%= submit_tag("submit") %>
<% end %>
<%= link_to 'Back', artists_path %>
